*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


body{
  background: black;
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
}

/* css for box header */
.box-header{
  position: absolute;
    margin-left: -1rem;
    margin-right: 1.25rem;
    margin-bottom: 26rem;
  
}

.button{
  width: 100%;
  height: 40px;
  background: rgb(209, 209, 112);
  background-color: none;
  border: none;
  font-weight: bolder;
  font-size: 1.5rem;
}

/* styling for parent div */ 
.parent{
    margin-top: 4rem;
    width: 60rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;  
    background: #9b9bc7;
    border: 10px solid white;
}


/* styling for child div image */
img{
  width: 100%;
  display: block;
  height: 20rem;
}

/* styling for child div */
.child{
  display: grid;
  align-items: center;
  grid-template-rows: 2fr 1fr;
  height: 30rem;
  width: 31rem;
  overflow: hidden;
  border-radius: 15px;
  letter-spacing: 1.0px;
  background-color: white;

}



.grid-two p{
  background: white;
  padding-left: 19px;
}

.grid-two strong{
  font-weight: bolder;
  font-size: 25px;

}


#first-paragraph{
  margin-bottom: 10px;
}

.grid-two p{
  width: 450px;
  font-weight: bold;
}